<div style="text-align:center">
  <h1>
    Products
    <span> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        +
      </button></span>
  </h1>
  <!-- Button trigger modal -->


  <table class="table container">
    <thead>
      <tr>
        <td>
          Name
        </td>
        <td>
          Type
        </td>
        <td>
          Base Price
        </td>
        <td>
          Selling Price
        </td>
        <td>
          Subscription Price
        </td>
        <!-- <td>
            Subscription Price
          </td> -->
        <td>
          Subscription Base Price
        </td>
        <td>
          Frequency
        </td>
        <td>
          Status
        </td>
        <td>
          Action
        </td>
        <!-- <td (click)="isAddToggle(true)"> Add More </td> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products">
        <td> {{item.name}} </td>
        <td> {{item.type == 1 ? 'Service' : 'Product'}} </td>
        <!-- //1-> Service, 2-> Product -->
        <td> {{item.basePrice}} </td>
        <td> {{item.sellPrice}} </td>
        <td> {{item.subsPrice}} </td>
        <td> {{item.subsBasePrice}} </td>
        <td> {{item.frequency == 3 ? '-' : item.frequency == 1 ? 'Monthy' : 'Daily'   }} </td>
        <!-- // 1-> Monthy, 2-> Daily, 3 - Not Defined -->
        <td> {{item.status == 1 ? 'Active' : 'InActive'}} </td>
        <!-- // 1-> Active, 2-> InActive -->
        <td> <span data-toggle="modal" data-target="#ViewModal" (click)="selectProduct(item)" >View </span> <span (click)="deleteProducts(item._id, item.status)" > X</span> </td>
        <!-- <td> </td> -->
      </tr>
    </tbody>
  </table>
</div>


<!-- Modal -->
<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]= "newProduct.name" name ="name" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]= "newProduct.description" name ="name" placeholder="Description">
          </div>
        <div class="form-group">

        <select class="form-control" [(ngModel)]= "newProduct.type" name ="type">
          <option selected disabled value="99">Type</option>
          <option value="1"> Service </option>
          <option value="2"> Product </option>
        </select>
        </div>
        <div class="form-group">

        <select class="form-control" [(ngModel)]= "newProduct.frequency" name ="frequency">
          <option selected disabled value="99">Frequency</option>
          <option value="1"> Monthly </option>
          <option value="2"> Daily </option>
          <option value="3"> Not Defined </option>
        </select>
        </div>

        <div class="form-group" >
          <input type="text" class="form-control" placeholder="Base Price" [(ngModel)]= "newProduct.basePrice" name ="basePrice">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Selling Price" [(ngModel)]= "newProduct.sellPrice" name ="sellPrice">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Subscription Price" [(ngModel)]= "newProduct.subsPrice" name ="subsPrice">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Subscription Selling Price" [(ngModel)]= "newProduct.subsBasePrice" name ="subsBasePrice">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="GST Rate" [(ngModel)]= "newProduct.gst" name ="gst">
        </div>
      </div>
      <div class="form-group">
          <!-- <input type="number" class="form-control" placeholder="GST Rate" [(ngModel)]= "newProduct.gst" name ="gst"> -->
          <p class="container"> {{error}} </p>
        <!-- </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click) = "addProduct()" >Add Product</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade show" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="ViewModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ViewModalLabel">View Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>This model is just to display info and we can modify it accordingly !</p>  
        <div class="form-group" *ngFor="let edx of selectedProduct | keyvalue">
          <div>
            <b>{{edx.key}}</b> and Value: <b>{{edx.value}}</b>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
